@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "League Spartan", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* HSL COLORS */
  --cool-gray: rgba(142, 142, 190, 0.331);
  --shamrock-green: hsla(142, 37%, 45%, 1);
  --rose-ebony: rgba(89, 55, 54, 0.147);
  --light-cyan: hsla(175, 42%, 90%, 1);
  --steel-blue: hsla(204, 72%, 45%, 1);
  --SVG: #a02929;
  color-scheme: light dark;

  background: linear-gradient(
    90deg,
    rgba(142, 142, 190, 0.25) 0%,
    rgba(219, 240, 238, 0.5) 55%,
    rgba(146, 147, 193, 0.05) 100%
  );
  color: hsla(204, 72%, 45%, 1);
  margin: auto;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.flex {
  display: flex;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--shamrock-green);
}

.container {
  place-items: center;
  margin-top: 15%;
}
body {
  margin: 0;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--cool-gray);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--shamrock-green);
  background-color: var(--rose-ebony);
  color: var(--light-cyan);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: rgba(17, 19, 37, 0.8);
    color: var(--steel-blue);
  }
  a {
    color: var(--SVG);
  }
  a:hover {
    color: var(--shamrock-green);
  }
  .active :hover {
    color: var(--cool-gray);
  }
  button {
    background-color: var(--cool-gray);
  }
  button:hover {
    background-color: rgb(25, 16, 34);
    border-color: var(--cool-gray);
  }
  .link-list-item > a {
    color: var(--shamrock-green);
  }
  .link-list-item > a:hover {
    color: var(--SVG);
  }
}
/* ----NAV BAR STUFF--- */
/* --------------------- */
/* ---------------------*/

/* nav { */
/* border-style: none; */
/* min-height: 10%; 
} */

/* TO DO toggle wrapper on and off to figuer out which layout i like best */
/* .wrapper {
  margin:auto;
  padding:0;
  min-height: 100vh;
} */

.navbar {
  margin-left: 0;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 1.75rem;
  justify-content: space-evenly;
}

/* TO DOset media query for 600px HAMBURGER MENU AND SVG element must do something different */
/* TO DO media qqueery at 700 px to fix text wrapping in AppCards */
.bg-img {
  max-width: 50%;
  max-height: 50%;
}
.navbar > li {
  list-style: none;
}
/* for some reason the below code only works if used as inline style... */
#svg-display {
  display: inline-block;

  width: "153.60px";
  height: "153.60px";
}

/* ------------------------------ */
/* ----- appCard related styling */
/* ------------------------------ */

/* add a media query for hiding tech list items in smaller devices */
.tech-list,
.link-list {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  justify-content: space-evenly;
}
.link-list-item {
  font-size: 1.5rem;
}

.link-list-item {
  max-height: 120px;
}
.tech-list-item {
  font-size: larger;
  font-weight: 500;
}
.git-hub-icon {
  max-height: 25%;
}
#plane-icon {
  /* position: relative; */
  margin-top: 8px;
}
.appCard {
  height: 50%;
  background: radial-gradient(
    circle,
    rgba(89, 55, 54, 0.15) 0%,
    rgba(79, 50, 50, 0.01) 100%
  );
  border-radius: 5px;
}
.appCard-img {
  aspect-ratio: 1/1;
  max-width: 75%;
  height: 400px;
  object-fit: cover;
  padding: 5px;
  border-radius: 5%;
}
.appCard-img:hover {
}

.appCard-top {
  justify-content: space-around;
  padding-top: 20px;
}
.description-card {
}

/* ---------------- */
/*----- ABOUT ME--- */
/* ---------------- */

.about-me {
  max-height: 66%;
  position: relative;
  margin-top: -4%;
}
#headshot {
  aspect-ratio: 1024/1536;
  max-height: 400px;
}
.active {
  color: var(--shamrock-green);
}
a > .active :hover {
  color: var(--cool-gray);
}

/* -------------- */
/* ----Footer---- */
/* -------------- */

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: -40px;
}
/* .footer-section-el{
   min-height: 10%;
} */
footer {
  margin-top: 300px;
}
footer img {
  height: 1.75rem;
}
.footer-section-el > ul {
  list-style: none;
}
#footer {
  /* position:fixed; */
  bottom: 0;
  border-radius: 5px;
  /* background-color: var(--steel-blue); */
  margin-bottom: 0px;
  min-height: 10%;
  width: 100%;
  list-style: none;
}
/* #view-window{
  padding-bottom: 125px;
} */
#resume {
  min-width: 65%;
  height: 110vh;
}
h2 {
  font-size: 2.25rem;
}

/* -------------- */
/* ----Contact--- */
/* --------------- */

.contact-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.contact-container > * {
  flex: 1;
}
.contact-form {
  padding: 3rem;
  /* margin: 2rem; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  box-shadow: 4px 4px 8px 5px var(--cool-gray);
  border-radius: 5px;
}
.text-input {
  resize: none;

  height: 10em;
}
.inputs {
  border-radius: 5px;
  font-family: "League Spartan";
  font-size: 1.125rem;
  border-color: var(--rose-ebony);
  width: 100$;
}
.active {
  border-color: var(--steel-blue);
}
.name-input {
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  #footer {
    margin-top: 200px;
  }
  #svg-display {
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .link-list-item {
    font-size: 1rem;
  }
  .tech-list {
    flex-wrap: wrap;
  }
  /* .contact-container{
    width:50vw
  } */
  .contact-form {
    padding: 1rem;
  }
  #footer {
    margin-top: 100px;
  }
}
